#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../src/assets/Images/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
  position: relative;
}
.tittle {
  font-size: 20px;
}
.imagenFlotante {
  position: absolute;
  right: 50px;
  bottom: 80px;
  background-image: url("./assets/Images/redondel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  animation: floatAnimation 6s ease-in-out infinite;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Ajusta la cantidad de movimiento vertical aquí */
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
